*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}

body input:required:valid,
body textarea:required:valid {

}

body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
}

.header_topline {
    background-color: #43484C;
    padding: 15px 0;
    color: #ffffff;
}

.header_topline a {
    color: #ffffff;
}

.top_links {
    display: inline-block;
    vertical-align: middle;
    z-index: 10;
}

.top_links a {
    text-decoration: underline;
}

.top_links a:hover {
    text-decoration: none;
}

.soc_buttons {
    float: right;
}

.soc_buttons a {
    font-size: 26px;
    margin-left: 8px;
}

.auth_buttons,
.main_menu_button {
    background-color: transparent;
    border: medium none;
    font-size: 26px;
}

.main_menu_button {
    color: #ffffff;
    padding: 8px 15px 0;
}

.logo {
    display: block;
    padding: 15px 0;
    color: #fff;
    font-family: "NautilusPompiliusRegular";
    font-size: 42px;
    text-align: center;
}

.top_header {
    background-color: #4AAAD2;
}

.main_menu {
    background-color: #3595bd;
    color: #ffffff;
    margin-bottom: 20px;
}

.main_menu a {
    color: #ffffff;
    padding: 15px 10px;
    display: block;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .2s;
    transition: all .25s;
}

.main_menu a:hover {
    background-color: #1e7ea6;
}

.main_menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    text-transform: uppercase;
    z-index: 12;
}

.main_menu ul li {
    display: inline-block;
}


.top_contacts {
    float: right;
    font-size: 32px;
    padding: 0 15px;
    background-color: #1e7ea6;
    line-height: 53px;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: "RobotoCondensedLight";
}

.slider-container {
    position: relative;
}

.slider-container img {
    max-width: 100%;
}

.next_button,
.prev_button {
    color: #ffffff;
    font-size: 46px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 40%;
    border-radius: 10em;
    background-color: rgba(255, 255, 255, .5);
    padding: 0 26px;
}

.next_button {
    right: 20px;
}

.prev_button {
    left: 20px;
}